.adres {
    color: rgb(194, 191, 191);
    width: 285px;
    height: 72px;
    top: 134px;
    margin-left: px;
}

;
.ent {
    width: 286px;
    height: 24px;
    top: 127px;
    left: 947.01px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}